<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Mes Contacts</title>
  <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
<h1>Mes Contacts</h1>
<h1>Admin</h1>

<table>
  <thead>
      <form th:action="@{/login}" method="post">
        <label>Utilisateur</label>
        <input type="text" name="username" required>
        <label>Mot de passe</label>
        <input type="password" name="password" required>
        <button type="submit">Se connecter</button>
      </form>
  </thead>
  <tbody>
    <tr th:each="u : ${myUsers}">
      <td th:text="${u.id}">1</td>
      <td th:text="${u.username}">alice</td>
      <td th:text="${u.email}">alice@mail.com</td>
      <td th:text="${u.role}">USER</td>
      <td th:text="${u.balance}">0.00</td>
    </tr>
  </tbody>
</table>

<p><a th:href="@{/}">Retour à l’accueil</a></p>
</body>
</html>