<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/extras/spring-security" lang="fr">
<head>
  <meta charset="UTF-8" />
  <title>Bienvenue — complétez votre profil</title>
  <link rel="stylesheet" th:href="@{/style.css}" />
</head>
<body>

<header style="display:flex; gap:1rem; align-items:center; margin-bottom:1rem;">
  
 
</header>

<h1>Bienvenue !</h1>
<p>Pour commencer, veuillez vous enregistrer. Vous serez ensuite rediriger vers la page d'accueil afin de terminer le processus d'enregistrement.</p>

<form th:action="@{/register}" th:object="${registerForm}" method="post">
  <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

  

  <div>
    <label>Email :</label>
    <input type="email" th:field="*{email}" required />
  </div>

  <div>
    <label>mot de passe :</label>
    <input type="password" th:field="*{password}" required />
  </div> 
  
  <!-- Ajoute ici les champs “obligatoires” de ton onboarding -->
  
  <div style="margin-top:1rem;">
    <button type="submit">Valider</button>
  </div>
</form>

<p>Veuillez vous enregistrer pour continuer votre inscription.</p>
<p style="margin-top:1rem;"><a th:href="@{/}">Retour à l’accueil</a></p>


</body>
</html>
